<h1>All Playlists</h1>



<table class="table table-hover table-nonfluid">
<tr><td><strong>Playlist Title</strong></td><td></td>
  <td><strong>Owner</strong></td></tr>
<% @playlists.each do |inc| %>
<tr><td>
<li><a href=/playlists/<%= inc.random_hex %>><%= inc.title %></a></li>
</td><td></td><td><%= @all_accounts.find(inc.account_id).user_name %></td></tr>
<% end %>

</table>
