<h1>Playlists#index</h1>
<h1>Welcome, <%= @current_account.user_name %>!</h1>
Would you like to:
<ul>
  <li><a href=/playlists/new>Create a new playlist?</a></li>
  <li><a href=/playlists/mylists>View your playlists?</a></li>
  <li>Browse public playlists?</li>
  <li>View your song submissions?</li>
</ul>

<%= SecureRandom.hex(5) %>
