<!-- Pass YouTube API Key to AJAX -->
<script>
var youTubeENV = "<%= ENV['YOUTUBE_API_KEY'] %>"
</script>

<h1>Replace Song</h1>

<form id="search_form" method="get">
  <input type="text" name="keyword" class="searchbox" placeholder="Search YouTube"></input>
  <button type="submit" value="submit">Submit</button>
</form>

<div class="container-fluid">
  <div class="row">
    <div id=searchResults>
    </div>
  </div>
</div>

<!-- Underscore template -->
<script type='text/template' id='search_template'>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="{{= snippet.thumbnails.high.url}}">
        <div class="caption">
          <h3>{{= snippet.title }}</h3>
          <p><a href="http://www.youtube.com/watch?v={{= id.videoId }}" target="_blank">Preview on YouTube</p>

        <form action="/songs/<%= @song.id %>" accept-charset="UTF-8" method="post">

          <input type="hidden" name="_method" value="patch">

          <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>>

          <input type="hidden" name="song[title]" id="song_title" value="{{= snippet.title }}">

          <input type="hidden" name="song[youtube_id]" id="song_youtube_id" value={{= id.videoId }}>

          <input type="submit" name="commit" value="Save Song" />

        </form>

        </div>
      </div>
    </div>
</script>

<p></p><p><%= link_to 'Back', songs_mysongs_path %>
