<!-- <div id='content'></div>

<script type='text/template' id='search_template'>

<li>id.videoId</li>
</script> -->






<!-- $('#searchResults').html("");
  for (var i = 0; i < data.items.length; i++) {
    $('#searchResults').append("<li><a href=https://youtu.be/" + data.items[i].id.videoId + ">" + data.items[i].snippet.title + "</a></li><p><img src=" + data.items[i].snippet.thumbnails.high.url + ">");
          } -->
