/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
  *= require sweetalert
  */

header, footer, #allContent {
  margin-left: 1em;
  width: 90%;
}


#buddy_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*Not sure why body was including footer*/
#allContent {
  border: 1px black solid;
  padding: 1em;
  margin-bottom: 1em;
  float: left;
}

footer {
  clear: both;
  border: 1px black solid;
}

.navbar {
display:inline-block;
padding: 1em;
margin: 0;
}

/*td {
  padding: 1em;
}*/

.form-container {
     width: 500px;
     clear: both;
 }
 .form-container label {
     width: 50%;
 }
 .form-container input {
     width: 50%;
 }

#register {
  float: left;
  width: 40%;
}

#login {
  float: right;
  width: 40%;
}

#quantity label {
  width: auto;
  margin-right: 10px;
}

#quantity img {
  height: 14px;
  border: 1px black solid;
  padding: 1px;
  border-radius: 50%;
}

/*Hover tooltip, jQuery UI CSS (taken from themeroller)*/

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff;
	color: #222222;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*For error messages on register and login*/
.error {
  color: red;
}
